// Custom theme
$custom-primary: #8A6A42;
$custom-secondary: #F7F7F7;
$custom-tertiary: #F7F7F7;

@import "~assets/scss/var.scss";

.bg-custom,
.bgt-custom {
  background-color: $custom-primary !important;
  color: $custom-secondary !important;
}

.bg-image-custom {
  background-image: url("~assets/frames/custom/custom.png");
  background-size: 100% auto;
  background-position: center center;
}

.bgi-custom {
  // background-color: $custom-primary !important;
  background-image: url("~assets/frames/custom/custom.png");
  background-size: 100% auto;
  background-position: center center;
  color: $custom-secondary !important;
}

.txt-custom {
  color: $custom-secondary !important;
}

.txt-dark-custom {
  color: $custom-secondary !important;
}


// Main Section
.title-custom {
  line-height: normal;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: $custom-tertiary;
}

.couples-custom {
  font-size: 4.5rem !important;
  margin-bottom: 1rem;
  line-height: 1.3;
  color: $custom-secondary;

  &>.amp {
    line-height: 1;
    font-size: 2rem;
    color: $custom-tertiary;
  }

  .groom,
  .bride {
    background: -webkit-linear-gradient(45deg, #9A753E, $custom-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto;
    padding: 3px;
  }
}

.dates-custom {
  margin-bottom: 1rem;
  color: $custom-tertiary;

  &>.date-gregorian {
    font-size: 1.3rem;
    text-transform: uppercase;
  }

  &>.date-hijri {
    font-size: 1.1rem;
    font-style: italic;
  }
}

.venue-custom {
  text-transform: uppercase;
  color: $custom-tertiary;
}

.has-text-link {
  color: $custom-primary !important;
}

// End Main Section

.footer-custom {
  background-image: -webkit-radial-gradient(50% 0%,
      circle closest-corner,
      transparent 0,
      transparent 35px,
      $custom-primary 36px);
  color: $custom-secondary;
}

#invitation {
  // background-image: url("~assets/frames/custom/custom.png");
  // background-size: 100% 100%;
  // background-position: center center;
  background-color: $custom-primary;
  color: $custom-tertiary;
  padding: 10rem 1.5rem !important;

  .main-title {
    text-transform: capitalize !important;
  }

  .couples,
  .parents {
    text-transform: uppercase !important;
    color: $custom-secondary;
    // font-size: 1.5rem !important;
  }

  .guest {
    text-transform: unset !important;
    color: $custom-secondary;
    margin-top: 0rem;
    margin-bottom: 1.5rem;
    background-image: url('~assets/images/custom/line.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  // .guest.available {
  //   // &.guest-box {
  //   //   background: $custom-primary !important;
  //   //   border: 1px solid $custom-secondary !important;
  //   // }
  // }


  .couples .amp {
    font-family: $primary-font !important;
    text-transform: lowercase;
    color: $custom-tertiary;
    font-size: 0.9rem;
    font-weight: normal !important;
    line-height: 0.8;
  }
}

#tentative {
  background-color: #411018 !important;
  color: $custom-secondary !important;
}

#doa-section {
  // background-color: $custom-primary !important;
  display: block;
  color: $custom-secondary;
  background-image: url("~assets/frames/custom/bgdoa.png");
  background-size: 100% 100%;
  background-position: center center;
}

#doa-section, #countdown-section, #social-section {
  background-color: #411018 !important;
}
