// Custom theme
$custom-primary: #B99B57;
$custom-secondary: white;

.bg-custom,
.bgt-custom {
  background-color: $custom-primary !important;
  color: $custom-secondary !important;
}

.bg-image-custom {
  background-image: url("~assets/frames/custom/custom.png");
  background-size: calc(100% + 1px) 100% !important;
  background-position: -1px 0px;
}

.bgi-custom {
  background-color: $custom-primary !important;
  // background-image: url("~assets/frames/custom/custom.png");
  // background-size: 100% auto;
  // background-position: center center;
  color: $custom-secondary !important;
}

.txt-custom {
  color: $custom-secondary !important;
}

.txt-dark-custom {
  color: $custom-primary !important;
}

.guest.available {
  color: $custom-secondary !important;

  &.guest-box {
    background: $custom-primary !important;
    border: 1px solid $custom-secondary !important;
  }
}

// Main Section
.title-custom {
  line-height: normal;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.couples-custom {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height: 1.3;
  color: $custom-primary;

  &>.amp {
    line-height: 1;
    font-size: 2rem;
    color: $custom-secondary;
  }
}

.dates-custom {
  margin-bottom: 1rem;

  &>.date-gregorian {
    font-size: 1.3rem;
    text-transform: uppercase;
  }

  &>.date-hijri {
    font-size: 1.1rem;
    font-style: italic;
  }
}

.venue-custom {
  font-size: 1.3rem;
  text-transform: uppercase;

}

// End Main Section

.footer-custom {
  background-image: -webkit-radial-gradient(50% 0%,
      circle closest-corner,
      transparent 0,
      transparent 35px,
      $custom-primary 36px);
  color: $custom-secondary;
}

#invitation {

  .couples,
  .parents,
  .guest {
    text-transform: uppercase !important;
    font-style: italic;
    // font-size: 1.5rem !important;
    font-weight: bolder !important;
  }
}

#tentative {
  background-image: url("~assets/frames/custom/custom.png");
  background-size: 100% auto;
  background-position: center center;
}
