// Custom theme
$custom-primary: #242053;
$custom-secondary: #F7D075;
$custom-tertiary: #fff;

@import "~assets/scss/var.scss";

.bg-custom,
.bgt-custom {
  background-color: $custom-primary !important;
  color: $custom-secondary !important;
}

.bg-image-custom {
  background-image: url("~assets/frames/custom/custom.jpeg");
  background-size: 100% auto;
  background-position: center center;
}

.bgi-custom {
  background-color: $custom-primary !important;
  // background-image: url("~assets/frames/custom/custom.jpeg");
  // background-size: 100% auto;
  // background-position: center center;
  color: $custom-secondary !important;
}

.txt-custom {
  color: $custom-secondary !important;
}

.txt-dark-custom {
  color: $custom-primary !important;
}

.guest.available {
  color: $custom-secondary !important;

  &.guest-box {
    background: $custom-primary !important;
    border: 1px solid $custom-secondary !important;
  }
}

// Main Section
.title-custom {
  line-height: normal;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: $custom-tertiary;
}

.couples-custom {
  font-size: 4.5rem !important;
  margin-bottom: 1rem;
  line-height: 1.3;
  color: $custom-secondary;

  &>.amp {
    line-height: 1;
    font-size: 2rem;
    color: $custom-tertiary;
  }

  .groom, .bride {
    background: -webkit-linear-gradient(45deg, #9A753E, $custom-secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.dates-custom {
  margin-bottom: 1rem;
  color: $custom-tertiary;

  &>.date-gregorian {
    font-size: 1.3rem;
    text-transform: uppercase;
  }

  &>.date-hijri {
    font-size: 1.1rem;
    font-style: italic;
  }
}

.venue-custom {
  text-transform: uppercase;
  color: $custom-tertiary;
}

// End Main Section

.footer-custom {
  background-image: -webkit-radial-gradient(50% 0%,
      circle closest-corner,
      transparent 0,
      transparent 35px,
      $custom-primary 36px);
  color: $custom-secondary;
}

#invitation {
  // background-image: url("~assets/frames/custom/custom.jpeg");
  // background-size: 100% 100%;
  // background-position: center center;
  background-color: $custom-primary;
  color: $custom-tertiary;
  padding: 1.5rem !important;
  .main-title {
    text-transform: uppercase !important;
  }

  .couples,
  .parents,
  .guest {
    text-transform: unset !important;
    color: $custom-secondary;
    // font-size: 1.5rem !important;
  }

  .couples .amp {
    font-family: $primary-font !important;
		text-transform: lowercase;
    color: $custom-tertiary;
    font-size: 0.9rem;
    font-weight: normal !important;
  }
}

#tentative {
  background-color: $custom-tertiary !important;
  color: #4a4a4a !important;
  // color: $custom-;
  // background-image: url("~assets/frames/custom/custom.jpeg");
  // background-size: 100% auto;
  // background-position: center center;
}
