
/*
Default Font 
*/
@font-face {
    font-family: 'MYRIADPRO';
    src: local('MYRIADPRO'),
        url(~assets/fonts/MYRIADPRO-REGULAR.woff) format('woff');
}
$font-url: 'https://fonts.googleapis.com/css?family=Tangerine:wght@700&display=swap|Cormorant+Infant:ital,wght@1,600';

$cover-font: 'Tangerine', cursive;
$primary-font: 'Cormorant Infant', serif;
$secondary-font: 'MYRIADPRO', serif;
$countdown-font: 'Tangerine', cursive;
// $countdown-font: 'Alex Brush', cursive;
