
/*
Default Font 
*/
@font-face {
    font-family: 'Agnes';
    src: local('Agnes'),
        url(~assets/fonts/agnes-bold.ttf) format('truetype');
}
@font-face {
    font-family: 'Omnes';
    src: local('Omnes'),
        url(~assets/fonts/Omnes.ttf) format('truetype');
}
$font-url: 'https://fonts.googleapis.com/css?family=Poppins:wght@500&display=swap';

$cover-font: 'Agnes';
$primary-font: 'Omnes', sans-serif;
$secondary-font: 'Poppins', sans-serif;
$countdown-font: 'Agnes';
// $countdown-font: 'Alex Brush', cursive;
