
/*
Default Font 
*/
@font-face {
    font-family: 'ChopinScript';
    src: local('ChopinScript'),
        url(~assets/fonts/ChopinScript.otf) format('opentype');
}
@font-face {
    font-family: 'Bodini';
    src: local('Bodini'),
        url(~assets/fonts/Bodoni72-OldStyle.ttf) format('truetype');
}

@font-face {
    font-family: 'Perpetua';
    src: local('Perpetua'),
        url(~assets/fonts/perpetua.ttf) format('truetype');
}
$font-url: 'https://fonts.googleapis.com/css?family=Poppins:wght@500&display=swap';

$cover-font: 'ChopinScript';
$primary-font: 'Bodini', sans-serif;
$secondary-font: 'Perpetua', sans-serif;
$countdown-font: 'ChopinScript';
// $countdown-font: 'Alex Brush', cursive;
